pandas
openpyxl
pyarrow
google-cloud-storage
google-cloud-bigquery
db-dtypes
scikit-learn
matplotlib
jupyter
python-dotenv
google-auth
python-calamine
pandas-gbq>=0.26.1
google-cloud-bigquery-storage
